/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.image-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Adjust to your preference */
    z-index: -1;
}
.content {
    position: absolute;
    top: 50%; /* Position at 50% from the top */
    left: 50%; /* Position at 50% from the left */
    transform: translate(-50%, -50%); /* Center the content */
    text-align: center; /* Center-align the text */
    color: white; /* Set the text color to white */
}
.content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}
.content p {
    font-size: 1rem;
}

.link {
    color: white; /* Initial link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Smooth color transition */
    font-size: 16px;
}

.link:visited {
    color: yellow; /* Change link color after it's visited */
}

.link:hover {
    text-decoration: underline; /* Underline on hover */
}
/* Add more CSS rules as needed */
