/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.image-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Adjust to your preference */
    background-position: center;
    z-index: -1;
}
.content {
    position: absolute;
    top: 50%; /* Position at 50% from the top */
    left: 50%; /* Position at 50% from the left */
    transform: translate(-50%, -50%); /* Center the content */
    text-align: center; /* Center-align the text */
    color: white; /* Set the text color to white */
}
.content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}
.content p {
    font-size: 1rem;
}

.link-group {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    color: white;
    font-size: 16px;
}

.link {
    text-decoration: none;
    transition: color 0.3s;
    color: white;
}

.link-separator {
    color: yellow;
    margin: 0 5px; /* Adjust spacing between links */
}
.link:visited {
    color: yellow; /* Change link color after it's visited */
}

.link:hover {
    text-decoration: underline; /* Underline on hover */
}
/* Add more CSS rules as needed */


.other-page-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Adjust to your preference */
    background-image: url("gif7.gif");
    background-position: center;
    z-index: -1;
}
.black-text {
    color: black; /* Set the text color to black */
}

.top-left-text {
    position: absolute;
    top: 20px; /* Adjust the distance from the top */
    left: 20px; /* Adjust the distance from the left */
}

.content-left {
    text-align: left; /* Align the text to the left */
    padding: 20px; /* Add padding to the content for spacing */
}
